body{
  font-family: Tahoma, Verdana, Arial, Serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #302730;
}
td{
  font-family: Tahoma, Verdana, Arial, Serif;
  font-size: 13px;
  font-weight: 500;

}
#default{
  font-family: Tahoma, Verdana, Arial, Serif;
  font-size: 12px;
  font-weight: 400;
}
